<h2><%=@game.cur_passive.name%> attacks <%=@game.cur_active.name%></h2>

<p><%=@game.player_1.name%>: <%=@game.player_1.hp%>hp</p>
<p><%=@game.player_2.name%>: <%=@game.player_2.hp%>hp</p>

<% if !(@game.end_game?) %>
	<form action="/play" >
		<input 	type="submit" value="Fight Back!" >
	</form>
<% end%>


<% if @game.end_game? %>
	<p>
		<%=@game.winner.name%> WON 
	</p>
<% end %>

